body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Sans-Serif;
  padding: 8px;
}

.school-name {
  font-weight: 700;
  text-align: center;
  font-size: 24px;
}

.classroom-detail-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 5px 0;
}

th {
  text-align: left;
  padding: 8px 0px;
  color: gray;
}
